{% load static%}
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>TrendAura</title>
      <meta name="keywords" content="HTML5 Template">
      <meta name="description" content="TrendAura">
      <meta name="author" content="p-themes">
      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
      <link rel="manifest" href="{% static 'images/icons/site.html' %}">
      <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#666666">
      <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
      <meta name="apple-mobile-web-app-title" content="TrensAura">
      <meta name="application-name" content="TrensAura">
      <meta name="msapplication-TileColor" content="#cc9966">
      <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
      <meta name="theme-color" content="#ffffff">
      <!-- Plugins CSS File -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css ' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/nouislider/nouislider.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" href="{% static 'css/plugins/jquery.countdown.css ' %}">
      <!-- Main CSS File -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/demos/demo-18.css' %}">
  </head>
  
  <section>
    <main class="main">
      <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
          <div class="container">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Login</li>
              </ol>
          </div><!-- End .container -->
      </nav><!-- End .breadcrumb-nav -->
      
        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url({% static 'images/backgrounds/login-bg.jpg' %})">
            <div class="container">
              <div class="form-box">
                <div class="form-tab">
                  <section class="message-section">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4">
                          {% if messages %}
                            {% for message in messages %}
                              <div class="alert alert-warning">
                                <p class="text-center mb-0">{{ message }}</p>
                              </div>
                              {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>   
                  </section>
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="true">Log In</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="singin-email-2">Email *</label>
                                        <input type="email" class="form-control" id="singin-email-2" name="email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password-2">Password *</label>
                                        <input type="password" class="form-control" id="singin-password-2" name="password" required>
                                    </div><!-- End .form-group -->
                                    <a href="{% url 'forgot' %}" class="forgot-link">Forgot Your Password?</a>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                                            <label class="custom-control-label" for="signin-remember-2">Remember Me</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                  <p class="text-center">Don't have a account?</p>
                                    <div class="row justify-content-center">
                                      <div class="col-sm-8 text-center">
                                        <a href="{% url 'signup' %}" class="btn btn-login btn-g">
                                          <i class="icon-user"></i>
                                            Register New Account
                                        </a>
                                      </div><!-- End .col-12 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                                
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
      
  </main><!-- End .main -->
  </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %} "></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/wNumb.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  
  
  </html>
  
