{% extends 'layouts/master.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %})">
        <div class="container">
            <h1 class="page-title">Checkout</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                <form method="POST" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>First Name *</label>
                                    <input type="text" class="form-control" name="first_name" required>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6">
                                    <label>Last Name *</label>
                                    <input type="text" class="form-control" name="last_name" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <label>Country *</label>
                            <input type="text"  class="form-control" name="country" required>

                            <label>Street address *</label>
                            <input type="text" class="form-control" placeholder="House number and Street name" name="street_address" required>
                            <input type="text" class="form-control" placeholder="Apartments, suite, unit etc ...">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control" name="town_city" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State / County *</label>
                                    <input type="text" class="form-control" name="state_county" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" class="form-control" name="postcode" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" class="form-control" name="phone" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <label>Email address *</label>
                            <input type="email" class="form-control" name="email" required>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                            </div><!-- End .custom-checkbox -->

                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery" name="order_notes"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <div class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                        <tr>
                                            <td>{{ cart_item.product.name }}</td>
                                            <td>{{ cart_item.product.price }}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>Rs:{{ cart_total }}</td>
                                        </tr>
                                        <tr>
                                            <td>Tax (10%):</td>
                                            <td>Rs:{{ tax }}</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>Rs:{{ total }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed for Payment</span>
                                </button>
                            </div><!-- End .summary -->
                        </div><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main>
{% endblock %}
