{% extends "layouts/master.html" %}
{% load static %}
{% block title %}
Blog
{% endblock %}

{% block content %}
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog </li>           
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <figure class="entry-media">
            <img src="{{ blog_post.image.url }}" alt="{{ blog_post.title }}">
        </figure><!-- End .entry-media -->
        <div class="container">
            <article class="entry single-entry entry-fullwidth">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    by <a href="#">{{ blog_post.author.username }}</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">{{ blog_post.created_at|date:"M d, Y" }}</a>
                                <span class="meta-separator">|</span>
                                <a href="#">{{ blog_post.comments.count }} Comments</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title entry-title-big">
                                {{ blog_post.title }}
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats">
                                in <a href="#">{{ blog_post.category }}</a>
                            </div><!-- End .entry-cats -->

                            <div class="entry-content editor-content">
                                {{ blog_post.content|safe }}
                            </div><!-- End .entry-content -->

                            <div class="entry-footer row no-gutters">
                                <div class="col">
                                    <div class="entry-tags">
                                        <span>Tags:</span>
                                        {% for tag in blog_post.tags.split %}
                                            <a href="#">{{ tag }}</a>
                                        {% endfor %}
                                    </div><!-- End .entry-tags -->
                                </div><!-- End .col -->
                            </div><!-- End .entry-footer row no-gutters -->
                        </div><!-- End .entry-body -->
                    </div><!-- End .col-lg-11 -->

                    <div class="col-lg-1 order-lg-first mb-2 mb-lg-0">
                        <div class="sticky-content">
                            <div class="social-icons social-icons-colored social-icons-vertical">
                                <span class="social-label">SHARE:</span>
                                <a href="{{setting.facebook}}" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="{{setting.twitter}}" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="{{setting.instagram}}" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="{{setting.linkedin}}" class="social-icon social-linkedin" title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .sticky-content -->
                    </div><!-- End .col-lg-1 -->
                </div><!-- End .row -->

                <div class="entry-author-details">
                    <figure class="author-media">
                        <a href="#">
                            <img src="{% static 'assets/images/blog/single/author.jpg' %}" alt="{{ blog_post.author.username }}">
                        </a>
                    </figure><!-- End .author-media -->

                    <div class="author-body">
                        <div class="author-header row no-gutters flex-column flex-md-row">
                            <div class="col">
                                <h4><a href="#">{{ blog_post.author.username }}</a></h4>
                            </div><!-- End .col -->
                            <div class="col-auto mt-1 mt-md-0">
                                <a href="#" class="author-link">View all posts by {{ blog_post.author.username }} <i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .col -->
                        </div><!-- End .row -->

                        <div class="author-content">
                            <p>Author bio goes here.</p>
                        </div><!-- End .author-content -->
                    </div><!-- End .author-body -->
                </div><!-- End .entry-author-details-->
            </article><!-- End .entry -->

            <nav class="pager-nav" aria-label="Page navigation">
                {% if previous_post %}
                <a class="pager-link pager-link-prev" href="{% url 'blog_detail' previous_post.id %}" aria-label="Previous" tabindex="-1">
                    Previous Post
                    <span class="pager-link-title">{{ previous_post.title }}</span>
                </a>
                {% endif %}

                {% if next_post %}
                <a class="pager-link pager-link-next" href="{% url 'blog_detail' next_post.id %}" aria-label="Next" tabindex="-1">
                    Next Post
                    <span class="pager-link-title">{{ next_post.title }}</span>
                </a>
                {% endif %}
            </nav><!-- End .pager-nav -->

            <div class="related-posts">
                <h3 class="title">Related Posts</h3><!-- End .title -->
                
                <div class="owl-carousel owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":1
                            },
                            "480": {
                                "items":2
                            },
                            "768": {
                                "items":3
                            },
                            "992": {
                                "items":4
                            }
                        }
                    }'>
                    {% for related_post in related_posts %}
                    <article class="entry entry-grid">
                        <figure class="entry-media">
                            <a href="{% url 'blog_detail' related_post.id %}">
                                <img src="{{ related_post.image.url }}" alt="{{ related_post.title }}">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <a href="#">{{ related_post.created_at|date:"M d, Y" }}</a>
                                <span class="meta-separator">|</span>
                                <a href="#">{{ related_post.comments.count }} Comments</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title">
                                <a href="{% url 'blog_detail' related_post.id %}">{{ related_post.title }}</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats">
                                in <a href="#">{{ related_post.category }}</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                    {% endfor %}
                </div><!-- End .owl-carousel -->
            </div><!-- End .related-posts -->

            <div class="comments">
                <h3 class="title">{{ blog_post.comments.count }} Comments</h3><!-- End .title -->
                {% for comment in blog_post.comments.all %}
                <div class="comment">
                    <div class="comment-body">
                        <div class="comment-user">
                            <h4>{{ comment.author.username }}</h4>
                            <span class="comment-date">{{ comment.created_at|date:"M d, Y" }}</span>
                        </div><!-- End .comment-user -->

                        <div class="comment-content">
                            <p>{{ comment.content }}</p>
                        </div><!-- End .comment-content -->
                    </div><!-- End .comment-body -->
                </div><!-- End .comment -->
                {% endfor %}
            </div><!-- End .comments -->

            {% comment %} <div class="reply">
                <div class="heading">
                    <h3 class="title">Leave A Reply</h3><!-- End .title -->
                    <p class="title-desc">Your email address will not be published. Required fields are marked *</p>
                </div><!-- End .heading -->

                <form action="{% url 'add_comment' blog_post.id %}" method="post">
                    {% csrf_token %}
                    <label for="reply-message" class="sr-only">Comment</label>
                    <textarea name="content" id="reply-message" cols="30" rows="4" class="form-control" required placeholder="Comment *"></textarea>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="reply-name" class="sr-only">Name</label>
                            <input type="text" class="form-control" id="reply-name" name="name" required placeholder="Name *">
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <label for="reply-email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="reply-email" name="email" required placeholder="Email *">
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->

                    <button type="submit" class="btn btn-outline-primary-2">
                        <span>POST COMMENT</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>
                </form>
            </div><!-- End .reply --> {% endcomment %}
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% endblock %}